<h1>Stats</h1>
<table class="table table-condensed">
    <tbody>
        <tr>
            <th> </th>
            <th colspan="3" ng-repeat="userdata in model.statistics[0].userdata">{{userdata.user}}</th>
        </tr>
        <tr>
            <th> </th>
            <th ng-repeat-start="user in model.statistics[0].userdata">PRs</th>
            <th>Push</th>
            <th ng-repeat-end>Coms/Push</th>
        </tr>
        <tr ng-repeat="day in model.statistics">
            <th>{{day.date}}</th>
            <td ng-repeat-start="userdata in day.userdata">{{userdata.pullRequests}}</td>
            <td>{{userdata.pushes}}</td>
            <td ng-repeat-end>{{userdata.commits}}</td>
        </tr>
    </tbody>
</table>
