<h1>Waiting Pull Requests </h1>

<div ng-repeat="waitingPull in (model.waitingPulls | orderBy: '-pullRequests[0].created' : true)" class="pullRequestBreakdown">
    <h2><a href="{{waitingPull.htmlUrl}}" target="_blank"><img class="avatar" ng-src="{{waitingPull.avatarUrl}}">{{waitingPull.login}}</a>
        -
        <a href="{{waitingPull.repositoryHtmlUrl }}" target="_blank">{{waitingPull.repositoryName }}</a></h2>
    <div ng-repeat="pullRequest in (waitingPull.pullRequests | orderBy: '-created' : true)" class="pullRequest">
        <span class="{{pullRequest.state}}"><a href="{{pullRequest.htmlUrl}}" target="_blank"><b>{{pullRequest.created | date : 'dd MMM yyyy HH:mm:ss' }} {{pullRequest.title}}:</b>{{pullRequest.body}}</a></span>
    </div>
</div>
<div class="error" ng-show="model.errors.length">
    <h3 >Problems getting Repos:</h3>
    <ul>
        <li ng-repeat="error in model.errors">User: {{error.username}} Repo: {{error.repositoryName}}</li>
    </ul>
</div>
<div>
    <canvas id="nyan-canvas" height="80px" width="1140px" ng-controller="NyanController"></canvas>
    <img src="images/blank.jpg" class="{{timerClass}}" >
</div>